*{
    margin: 0;
    padding: 0;
}
section{
    margin: 120px 140px;
}
.font_Merriweather{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
.font_Inter{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.paraColor{
    color: #F00;
}
/* Header Section Style */
header{
    margin: 0px 140px;
    display: flex;
    justify-content: center;
}
#banner-header{
    position: relative;
    border-radius: 16px;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./resources/Banner\ Image.png');
}
#heading1{
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 16px;
}
#heading2{
    color: #ffffff;
    font-weight: 900;
    font-size: 72px;
    line-height: 95px;
}
#headingDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 632px;
    height: 190px;
    text-align: center;
}
/* 65% off section */
#holidayOffSection{
    text-align: center;
}
#holidayDiscountRate{
    font-size: 88px;
    font-weight: 700;
}
#dealsDescription{
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}
#catagories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
#newYearLogo{
    height: 500px;
}

/* Midnight party section style */
#partySection{
    display: flex;
    justify-content: center;
}
#partyBanner{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./resources/Vectorrr.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
}
#welcomeTitle{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin: 126px 0 24px 126px;
}
#partyDescription{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin: 0 0 48px 126px;
}
#joinText{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 142px 158px;
    cursor: pointer;
}
#partyYearLogo{
    background-image: url('./resources/Group70.png');
    width: 319.83px;
    background-repeat: no-repeat;
    margin: 67.5px 137px 67.5px 40px;
}

/* Party Details Section */
#partyDetailsDiv{
    background: linear-gradient( 180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100% );
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
}
#detaisParty{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
#joinButton{
    padding: 16px 32px;
    margin-top: 48px;
    background-color: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* New best offer 2024 section */
#newOfferSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
#newOfferComingSoon{
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 22px;
}
#newOfferLeftDescription{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 70px;
    width: 393px;
    height: 128px;
}
#newOfferTitleLeft{
    font-size: 24px;
    margin-bottom: 16px;
}
#newOfferLogo{
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 463px;
    position: relative;
}
#newOfferLogo img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#newOfferRightTitle{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-top: 135px;
}
#newOfferRightDescription{
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 16px;
    margin-bottom: 43px;
}
#newOfferRightDiv{
    margin-left: 118px;
}